.reveal-left-intro {
    transition: all 1.3s ease;
    transition-delay: 1.5s;
    opacity: 0;
    transform: translate3d(-150px, 0, 0);
}

.reveal-bottom-intro {
    transition: all 1.1s ease;
    transition-delay: 1.5s;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
}

.reveal-right-intro {
    transition: all 1.3s ease;
    transition-delay: 1.5s;
    opacity: 0;
    transform: translate3d(150px, 0, 10px);
}

.reveal-top-intro {
    transition: all 1.3s ease;
    transition-delay: 1.5s;
    opacity: 0;
    transform: translate3d(0, -60px, 0);
}

.reveal-left {
    transition: all 1s ease;
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
}

.reveal-right {
    transition: all 1s ease;
    opacity: 0;
    transform: translate3d(100px, 0, 10px);
}

.reveal-top {
    transition: all 1s ease;
    opacity: 0;
    transform: translate3d(0, -60px, 0);
}

.reveal-bottom {
    transition: all 1s ease;
    opacity: 0;
    transform: translate3d(0, 60px, 0);
}

.reveal-after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.reveal-after-intro {
    animation-name: fade-intro;
    animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 1.5s;
}

/* animation: fade 1s ease forwards */


@keyframes fade-intro {
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade {
    to {
        opacity: 1;
    }
}

body {
    animation-name: hide;
    animation-duration: 1.6s;
}


@keyframes hide {
    from {
        overflow: hidden;
    }

    to {
        overflow: hidden;
    }
}


.loader-center {
    display: block;
    z-index: 99;
    /* margin-top: 40vh;
    margin-left: auto;
    margin-right: auto; */
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;

    animation: spin 7s ease-in-out;
    animation-iteration-count: 1;
    transition-duration: 1.6s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-bottom: solid 3px transparent;
        border-top: solid 3px transparent;
    }

    33% {
        transform: rotate(1800deg);
        border: 3px solid white;
        border-left: solid 3px transparent;
        border-right: solid 3px transparent;
    }

    66% {
        transform: rotate(0deg);
        border-bottom: solid 3px transparent;
        border-top: solid 3px transparent;
    }

    100% {
        transform: rotate(1800deg);
        border: 3px solid white;
        border-left: solid 3px transparent;
        border-right: solid 3px transparent;
    }
}

.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #21d4fd;
    background-image: var(--gradient);
    background-size: 100% 100vh;
    width: 100%;
    height: 100%;
    animation-name: hide-loader;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
    opacity: 1;
    visibility: visible;
    transition: .3s all;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes hide-loader {
    0% {
        opacity: 1;
        visibility: visible;
    }

    99% {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }

    100% {
        opacity: 0;
        transform: scale(0);
        visibility: hidden;
    }
}

.main__bg-img {
    position: absolute;
    width: 100px;
    height: 100px;
}

.main__bg-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main__bg-1 {
    width: 1100px;
    height: 1100px;
    animation-fill-mode: forwards;
    right: 0;
    transform: translateX(100%);
    top: -175px;
    z-index: 3;
    animation-name: animate1;
    animation-duration: 1s;
    animation-delay: 1.8s;
}

.main__bg-2 {
    width: 716px;
    height: 638px;
    z-index: 2;
    /* right: -95px; */
    animation-fill-mode: forwards;
    right: 0;
    transform: translateX(100%);
    top: -20px;
    animation-name: animate2;
    animation-duration: 0.8s;
    animation-delay: 1.8s;
}

.main__bg-3 {
    width: 357px;
    height: 357px;
    /* right: 230px; */
    right: 0;
    transform: translateX(100%);
    animation-fill-mode: forwards;
    z-index: 4;
    bottom: 15px;
    animation-name: animate3;
    animation-duration: 0.75s;
    animation-delay: 1.8s;
}

.main__bg-4 {
    width: 560px;
    height: 720px;
    animation-fill-mode: forwards;
    right: 0;
    transform: translateX(100%);
    z-index: 5;
    top: 30px;
    animation-name: animate4;
    animation-duration: 0.85s;
    animation-delay: 1.8s;
}

.main__bg-5 {
    width: 313px;
    height: 313px;
    animation-fill-mode: forwards;
    /* right: 270px; */
    right: 0;
    transform: translateX(100%);
    top: -10px;
    z-index: 1;
    animation-name: animate5;
    animation-duration: 0.7s;
    animation-delay: 1.8s;
}

.main__bg-1 img {
    animation-name: animateImg1;
    animation-delay: 1.3s;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.main__bg-2 img {
    animation-name: animateImg2;
    animation-delay: 1.1s;
    animation-duration: 4.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.main__bg-3 img {
    animation-name: animateImg3;
    animation-delay: 1.05s;
    animation-duration: 4.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translateY(15px);
}

.main__bg-4 img {
    animation-name: animateImg4;
    animation-delay: 1.15s;
    animation-duration: 4.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.main__bg-5 img {
    animation-name: animateImg5;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes animate1 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(310px);
    }
}

@keyframes animate2 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translate(30px);
    }
}

@keyframes animate3 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-350px);
    }
}

@keyframes animate4 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-30px);
    }
}

@keyframes animate5 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-400px);
    }
}

@media (max-width: 576px) {
    @keyframes animate2 {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translate(150px);
        }
    }

    @keyframes animate3 {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-220px);
        }
    }

    @keyframes animate5 {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-250px);
        }
    }
}

@keyframes animateImg1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animateImg2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes animateImg3 {
    0% {
        transform: translateY(30px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }
}

@keyframes animateImg4 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animateImg5 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



@media (min-width: 1024px) {
    .circle {
        display: none;
        position: absolute;
        width: 45px;
        height: 45px;
        background-color: rgba(133, 53, 232, 0.4);
        border-radius: 50%;
        z-index: 998;
        pointer-events: none;
        /* mix-blend-mode: difference; */
    }

    .cursor-box {
        position: absolute;
        width: 20px;
        height: 20px;
        pointer-events: none;
        z-index: 998;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cursor {
        display: none;
        width: 100%;
        height: 100%;
        /* background: var(--text); */
        background: var(--white);
        border-radius: 50%;
        transition: .2s all;
    }

    .cursor.active {
        transform: scale(0.7);
    }
    a {
        cursor: none;
    }
    button {
        cursor: none;
    }
    * {
        cursor: none !important;
    }
}